# Imports

In [ ]:
import pandas as pd
import numpy as np
import os
import datetime as dt

# Divvy Dataset

Reading the Divvy dataset and converting time data to hourly intervals

Last column: hourly_data

In [52]:
path = '/Users/joachimclodic/code/G-Dolle/DIVVY_BIKE/raw_data/Divvy_Trips_2021_Q1.csv'

df=pd.read_csv(path)
df['started_at']=pd.to_datetime(df['started_at'])
df['ended_at']=pd.to_datetime(df['ended_at'])
df['hourly_data'] = df.started_at.dt.round('60min')
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,hourly_data
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member,2021-01-23 16:00:00
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member,2021-01-27 19:00:00
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member,2021-01-21 23:00:00
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member,2021-01-07 14:00:00
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual,2021-01-23 02:00:00

In [56]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
hourly_data           datetime64[ns]
dtype: object

# Weather Dataset

Reading the Weather dataset and converting time data to the same format as the Divvy Dataset

Last column: hourly_data

In [53]:
path_weather= '/Users/joachimclodic/code/G-Dolle/DIVVY_BIKE/raw_data/Chicago_weather.csv'
df_weather=pd.read_csv(path_weather)

# df_weather['dt']=pd.to_datetime(df_weather['dt'])
df_weather['dt_iso']=df_weather['dt_iso'].apply(lambda x: x.rstrip('+0000 UTC').join('00'))
df_weather['dt_iso']=pd.to_datetime(df_weather['dt_iso'])
df_weather['hourly_data']=df_weather['dt_iso']

df_weather.tail()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,hourly_data
91354,1667242800,2022-10-31 19:00:00,-18000,Chicago,41.878114,-87.629798,13.89,NaN,12.11,13.66,...,0.24,NaN,NaN,NaN,100,500,Rain,light rain,10d,2022-10-31 19:00:00
91355,1667246400,2022-10-31 20:00:00,-18000,Chicago,41.878114,-87.629798,14.15,9656.0,12.19,13.92,...,NaN,NaN,NaN,NaN,100,701,Mist,mist,50d,2022-10-31 20:00:00
91356,1667250000,2022-10-31 21:00:00,-18000,Chicago,41.878114,-87.629798,14.11,NaN,11.81,13.82,...,0.25,NaN,NaN,NaN,100,500,Rain,light rain,10d,2022-10-31 21:00:00
91357,1667253600,2022-10-31 22:00:00,-18000,Chicago,41.878114,-87.629798,13.62,NaN,11.84,13.36,...,0.14,NaN,NaN,NaN,100,500,Rain,light rain,10d,2022-10-31 22:00:00
91358,1667257200,2022-10-31 23:00:00,-18000,Chicago,41.878114,-87.629798,13.38,NaN,11.78,13.12,...,0.11,NaN,NaN,NaN,100,500,Rain,light rain,10n,2022-10-31 23:00:00

In [57]:
df_weather.dtypes

dt                              int64
dt_iso                 datetime64[ns]
timezone                        int64
city_name                      object
lat                           float64
lon                           float64
temp                          float64
visibility                    float64
dew_point                     float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
sea_level                     float64
grnd_level                    float64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
wind_gust                     float64
rain_1h                       float64
rain_3h                       float64
snow_1h                       float64
snow_3h                       float64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
hourly_data            datetime64[ns]
dtype: object

# Merging the two Dataframes

In [58]:
merge=pd.merge(
    df,
    df_weather,
    how="outer",
    on='hourly_data')
merge

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,...,0.00,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
1,193312ED6078EDA7,classic_bike,2021-01-23 15:59:38,2021-01-23 16:33:51,Shedd Aquarium,15544,Lake Shore Dr & Monroe St,13300,41.867226,-87.615355,...,0.00,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
2,1C1CBF8EF4582598,classic_bike,2021-01-23 16:23:47,2021-01-23 16:35:05,California Ave & Cortez St,17660,Damen Ave & Pierce Ave,TA1305000041,41.900363,-87.696704,...,0.00,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
3,0A34DD08B59157A4,classic_bike,2021-01-23 15:57:39,2021-01-23 16:25:20,State St & Pearson St,TA1307000061,Clark St & 9th St (AMLI),SL-009,41.897448,-87.628722,...,0.00,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
4,5FA19661B5347829,electric_bike,2021-01-23 15:44:53,2021-01-23 15:53:21,Clinton St & 18th St,TA1307000044,Laflin St & Cullerton St,13307,41.857898,-87.640828,...,0.00,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480468,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.34,0.24,NaN,NaN,NaN,100,500,Rain,light rain,10d
480469,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,701,Mist,mist,50d
480470,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.58,0.25,NaN,NaN,NaN,100,500,Rain,light rain,10d
480471,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.24,0.14,NaN,NaN,NaN,100,500,Rain,light rain,10d
480472,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.11,NaN,NaN,NaN,100,500,Rain,light rain,10n